TON_NETWORK=testnet
ALLOW_MAINNET_DEPLOY=false
OWNER_ADDRESS=
JETTON_MINTER_ADDRESS=
RPC_ENDPOINT=https://testnet.toncenter.com/api/v2/jsonRPC
JETTON_IMAGE=https://raw.githubusercontent.com/BladeAfter/MythreonToken/58abd3a41f0e8456646c549ea16928b0995b0168/metadata/myth-token-icon-wallet.png
